table {
  @apply w-full;
}

thead {
  @apply table-header-group font-extrabold underline-offset-2 underline  decoration-2;
}

tr {
  @apply max-w-full   border-b-4 border-gray-100 
    table-row  dark:border-gray-800 ;
}

tr:last-child {
  @apply border-b-0;
}

td:not(:first-child) {
  @apply border-l  border-gray-100 dark:border-slate-800;
}

th {
  @apply text-left p-3 ;
}

td {
  @apply flex justify-between  py-3 px-4 align-top border-b border-gray-100
    table-cell text-left p-3 align-middle border-b-0 dark:border-gray-800 ;
}

td:last-child {
  @apply border-b-0;
}

tbody tr, tbody tr:nth-child(odd) {
  @apply lg:hover:bg-gray-100 lg:dark:hover:bg-gray-700/70;
}

tbody tr:nth-child(odd) {
  /* @apply dark:bg-gray-800; */
}

td:before {
  /* content: attr(data-label); */
  @apply font-semibold pr-3 text-left lg:hidden;
}
